<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="registration/create_user">
    {% csrf_token %}
    <div style=" white-space: pre-wrap; line-height: 2">{{ form }}</div>
    <input type="submit" value="Registration"/>
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<p><a href="{% url 'task_list' %}">Войти</a></p>
</body>
</html>